{% load static %} {% load group %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <title>Tutor Hub | View More Details of The Ad</title>
  </head>
  <body>
    <nav class="navbar nav navbar-expand-lg">
      <div class="app_name" href="#">Tutor Hub</div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if request.user|has_group:"student" %}
            <a class="nav-link" href="{% url 'profile' %}">
              <img
                src="{{request.user.student.profile_pic.url}}"
                class="rounded-circle"
                width="20"
              />
              {{ user.username }}'s Profile
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'profile' %}">
              <img
                src="{{request.user.tutor.profile_pic.url}}"
                class="rounded-circle"
                width="20"
              />
              {{ user.username }}'s Profile
            </a>
            {% endif %}
          </li>
          {% if request.user|has_group:"student" %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'findTutor' %}">Create Ad</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'findStudent' %}">Create Ad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signout' %}">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container justify-content-center">
        <div class="row">
          <div class="col-md-9">
            {% if request.user|has_group:"tutor" %}
            <div class="course">
              <div class="course-preview">
                <h6>Student Name: {{ad.user}}</h6>
                <h2>{{ ad.subject }}</h2>
              </div>
              <div class="course-info">
                <h2>{{ ad.title }}</h2>
                <h4>Area of the tuition: {{ ad.area }}</h4>
                <h4>Need tuition {{ ad.days }} Days Per Week</h4>
                <h4>Salary: {{ ad.salary }} Taka Per Month</h4>
                <h4>Class/Level of the student: {{ ad.class_level }}</h5>
                <h4>Gender: {{ ad.gender }}</h4>
                <h4>Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }}</h4>
                <h4>Description: </h4> <br>
                <span>{{ ad.description }}</span>
              </div>
            </div>
            {% else %}
            <div class="course">
              <div class="course-preview">
                <h6>Tutor Name: {{ad.user}}</h6>
                <h2>{{ ad.subject }}</h2>
              </div>
              <div class="course-info">
                <h2>{{ ad.title }}</h2>
                <h4>Expected Area of the tuition: {{ ad.expected_area }}</h4>
                <h4>Will Teach {{ ad.days }} Days Per Week</h4>
                <h4>Expected Salary: {{ ad.expected_salary }} Taka Per Month</h4>
                <h4>Class/Level of the Student: {{ ad.class_level }}</h5>
                <h4>Gender: {{ ad.gender }}</h4>
                <h4>Date Posted: {{ ad.ad_created|date:'H:i d-m-Y' }}</h4>
                <h4>Description: </h4> <br>
                <span>{{ ad.description }}</span>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
