{% load static %} {% load group %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Tutor Hub | Home</title>
  </head>
  <body>
    <nav class="navbar nav navbar-expand-lg">
      <div class="app_name" href="#">Tutor Hub</div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">{{ user.username }}'s Profile</a>
          </li>
          {% if request.user|has_group:"student" %}
          <li class="nav-item">
            <a class="nav-link" href="#">Create Ad</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#">Create Ad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container justify-content-center">
      <div class="row">
        <div class="col-md-9">
          {% if request.user|has_group:"tutor" %}
          <div class="course">
            <div class="course-preview">
              <h6>Student Name: {{stu_ad.user}}</h6>
              <h2>{{ stu_ad.subject }}</h2>
            </div>
            <div class="course-info">
              <h2>{{ stu_ad.title }}</h2>
              <h4>Area of the tuition: {{ stu_ad.area }}</h4>
              <h4>Need tuition {{ stu_ad.days }} Days Per Week</h4>
              <h4>Salary: {{ stu_ad.salary }} Taka Per Month</h4>
              <h4>Class/Level of the student: {{ stu_ad.class_level }}</h5>
              <h4>Gender: {{ stu_ad.gender }}</h4>
              <h4>Date Posted: {{ stu_ad.ad_created|date:'H:i d-m-Y' }}</h4>
              <h4>Description: </h4> <br>
              <span>{{ stu_ad.description }}</span>
            </div>
          </div>
          {% else %}
          <div class="course">
            <div class="course-preview">
              <h6>Tutor Name: {{tut_ad.user}}</h6>
              <h2>{{ stu_ad.subject }}</h2>
            </div>
            <div class="course-info">
              <h2>{{ tut_ad.title }}</h2>
              <h4>Expected Area of the tuition: {{ tut_ad.expected_area }}</h4>
              <h4>Will Teach {{ tut_ad.days }} Days Per Week</h4>
              <h4>Expected Salary: {{ tut_ad.expected_salary }} Taka Per Month</h4>
              <h4>Class/Level of the Student: {{ tut_ad.class_level }}</h5>
              <h4>Gender: {{ tut_ad.gender }}</h4>
              <h4>Date Posted: {{ tut_ad.ad_created|date:'H:i d-m-Y' }}</h4>
              <h4>Description: </h4> <br>
              <span>{{ tut_ad.description }}</span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  </body>
</html>
