
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: FreeMono, monospace;
}
.main-container{
    display: flex;
    flex-direction: column; 
}

.header-content {
    background-color: rgb(255, 254, 176);  
    box-shadow: 0px 3px 6px 0px #bb3f3fb5;
    padding: 5px; 
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;

}
.logo label {
    text-transform: uppercase;
    color: rgb(92, 90, 90);
    padding-top: 1em;
    padding-left: 1em;
}
.header-content > .logo {
    padding-left: 1em;
}

 .header-content ,
 .logo,
 .menu-header {
  flex: 1;
 } 
 .menu-header .menu-classroom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
 }

 .menu-header {
     padding-right: 1em;
 }

 .menu-header ul li {
     margin-left: 1em;
 } 
 
 .menu-header ul li a {
     color: rgb(76 76 76);
     text-decoration: none;
 }
.body-content { 
    width: 100%;
    padding: 1em;
   margin-left: 10%;

    justify-content: center;
}

.content-items{
    justify-content: center;
}
@media screen and (max-width: 1423px) {
    .courses-and-rooms {
        grid-template-columns: 1fr 1fr;
    }
    .body-content {
        grid-template-columns: 20% 3fr;
    }
   
}

@media screen and (max-width: 850px){
    .courses-and-rooms {
        grid-template-columns: 1fr;
    }
    .content-menu {
        display: none;
    }
    .body-content {
        grid-template-columns: 3fr;
    }
    .button-nav{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 1;
        width: 50px;
    }

    .button-nav .line{ 
        transform: translate(7px, 15px);
        background-color: rgb(143, 143, 143);
        width: 30px;
        height: 4px;
        margin: 2px;
    }
    .btnOpen {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        top: 0;
        left: -1000px;
        transition: 0.5s;
    }
    .btnOpen.active { 
        left: 0;
    }
    body.removeScroll {
        overflow: hidden;
    }
    .menu-header .menu-classroom{
        display: none;
    }
   .plus-menu {
       display: block;
       list-style: none;
   }
   .menu-header
    {
        display: flex;
        justify-content: flex-end;
    }
    .drop-downmenu.openmenu {
        display: block;
        background-color: #c7c7c7;
        position: absolute;
        padding: 0;
        box-shadow: 3px 2px 3px #61616194;
        transform: translate(-125px, -20px);
        color: #1f1b1bee;
        border-radius: 2px;
    }
    .drop-downmenu {
        display: none;
    }
    .drop-downmenu ul  {
        list-style: none;
        padding: 0;
        width: 9em;
    }
    .drop-downmenu ul li {
        margin: 14px;
            padding-left: 4px; 
    }
     
    
}



 .new-lecture{
     align-items: flex-start;
     
 }



  .alert {
    margin-top: 15px;
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 16px;
  }
  
  .alert.alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
  }
  
  .alert.alert-info {
    background-color: rgba(217, 237, 247, 1);
    color: rgba(49, 112, 143, 1);
    border-color: rgba(126, 182, 193, 1);
  }
  
  
  .alert.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
  }
  
  .alert.alert-danger {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
  }


  form {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}
form h1 {
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    color: #0288d1;
    border-bottom: 1px solid #ccc;
}
form .row {
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}
form input[type="text"], form input[type="password"], form textarea {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px 90px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
form textarea {
    height: auto;
    min-height: 200px;
    padding: 50px 10px 10px 10px;
}
form input[type="text"] + label, form input[type="password"] + label, form textarea + label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    background: #0288d1;
    border-radius: 3px 0 0 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
}
form textarea + label {
    width: 100%;
    border-radius: 3px 3px 0 0;
}
form input[type="text"]:focus, form input[type="password"]:focus {
    padding-left: 10px;
}
form textarea:focus {
    padding-top: 10px;
}
form input[type="text"]:focus + label, form input[type="password"]:focus + label {
    transform: translateZ(0) translateX(-100%);
}
form textarea:focus + label {
    transform: translateZ(0) translateY(-100%);
}
form input[type="checkbox"], form input[type="radio"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}
form input[type="radio"] + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
form input[type="radio"] + label:before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
    transform: translateZ(0) translate(-50%, -50%) scale(0);
}
form input[type="radio"]:checked + label {
    background: #0288d1;
}
form input[type="radio"]:checked + label:before {
    transform: translateZ(0) translate(-50%, -50%) scale(1);
}
form input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    width: 60px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
form input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #0288d1;
    border-radius: 100px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
    transform: translateZ(0) scale(0);
}
form input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    height: 26px;
    width: 26px;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
}
form input[type="checkbox"]:checked + label {
    background: #0288d1;
}
form input[type="checkbox"]:checked + label:after {
    left: calc(100% - 28px);
    transform: translateZ(0);
}
form button {
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    background: #0288d1;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) translateX(0);
    z-index: 2;
}
form button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #01579b;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
    transform: translateZ(0) scale(0);
    z-index: -1;
}
form button:hover:before, form button:focus:before {
    transform: scale(1);
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}


