

{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice</title>
    <link rel="stylesheet" href="{% static 'courses/css/createLecture.css'%}">
    
</head>
<body>
    <div class="main-container">
        <div class="header-content">
            <div class="button-nav">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="logo">
                <img src="{% static 'courses/images/classroom_logo.png'%}" alt="logo" height="50" width="50"> 
                <label for="">Online Classroom</label> 
            </div>
            <div class="menu-header"> 
                <ul class="plus-menu">
                    <li>
                        <span class="addClass"></span>
                        <div class="drop-downmenu">
                            <ul>
                                <li> <a href="#createClass">Create Class</a></li>
                                <li><a href="#JoinClass">Join Class</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                
                <ul class="menu-classroom"> 
                    <li class="c-class"><a href="#">Create Class</a></li>
                    <li class="j-class"><a href="#">Join Class</a></li>
                </ul>
            </div>
        </div>

        <div class="body-content">
       
            <div class="new-lecture">
                <form  action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {{form.name}}
                        <label for="fancy-text">Name</label>
                    </div>
                    <div class="row">
                        {{form.position}}
                        <label for="fancy-text">Lecture No</label>
                    </div>
                    <div class="row">
                        {{form.description}}
                        <label for="fancy-text">Description</label>
                    </div>

                    <div class="row">
                        {{form.video}}
                        <label for="fancy-textarea">Video</label>
                    </div>

                    <div class="row">
                        <div class="custom-input">
                        {{form.ppt}}
                        </div>
                        <label for="fancy-textarea">Ppt</label>
                    </div>
                    <div class="row">
                        {{form.notes}}
                        <label for="fancy-textarea">Notes</label>
                    </div>
        
                    <button type="submit" tabindex="0">Create Lecture</button>

                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{messages}}</div>
                        {% endfor %}
                </form>
            <div>
        </div>
    </div>
    <script src="{% static 'courses/js/classroom.js'%}"></script>
</body>
</html>

