{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Classroom | Tutor Lecture List</title>
    <link rel="stylesheet" href="{% static 'courses/css/studentLectureList.css'%}">
    
</head>
<body>
    <div class="main-container">
        <div class="header-content" style="background-color: #284DF2;">
            <div class="button-nav">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="logo">
                <img src="{% static 'courses/images/classroom_logo.png'%}" alt="logo" height="50" width="50"> 
                <label for="" style="color: #fff;" >Online Classroom</label> 
            </div>
            <div class="menu-header"> 
                <ul class="plus-menu">
                    <li>
                        <span class="addClass"></span>
                        <div class="drop-downmenu">
                            <ul>
                                <li> <a href="{% url 'create_class' %}">Create Class</a></li>
                                <li><a href="{% url 'tutor_dashboard' %}">Dashboard</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
                
                <ul class="menu-classroom"> 
                    <li class="c-class"><a style="color: #fff;" href="{% url 'create_class' %}">Create Class</a></li>
                    <li class="j-class"><a style="color: #fff;" href="{% url 'tutor_dashboard' %}">Dashboard</a></li>
                </ul>
            </div>
        </div>

        <div class="body-content">
            <div class="cont">
            <!--  Start First Button  -->
                <div class="fe">
                    <button class="btn one"><a href="{% url 'create_lecture' slug=class.slug %}"> Add new Lecture</a></button>
                
                </div>
                <!--  End First Button  -->

                <!--  Start Second Button  -->
                <div class="fe">
                    <button class="btn tow"><a href="{% url 'enrolled_students' slug=class.slug %}"> View Enrolled Students</a></button>
                </div>
                <!--  End Second Button  -->
            </div>


            <div class="container">
                {% for lecture in lectures %}
                <div class="left-div left-text">
                    <a href="{% url 'tutor_lecture_details' class_slug=class.slug  slug=lecture.slug%}">Lecture - {{lecture.position}}: {{lecture.name}}</a>                
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <script src="{% static 'courses/js/classroom.js'%}"></script>
</body>
</html>








